.logs
classes
ext/java/checkstyle/10/*.jar
ext/java/checkstyle/8/*.jar
ext/java/pmd/bin
ext/java/pmd/lib
ext/java/junit/5/*.jar
ext/java/junit/4/*.jar
ext/java/jdt/*.jar
ext/java/jsonschema2pojo
examples/*.jar
examples/.lithium/.logs
examples/.lithium/std-out-entities.json
ext/java/lithium/.lithium/.logs
ext/java/lithium/.lithium/std-out-entities.json
std-out-entities.json
 _gsdata_/